doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='javascripts/index.js')
        //Latest compiled and minified CSS
        meta(charset='UTF-8')
        meta(content='IE=edge', http-equiv='X-UA-Compatible')
        meta(content='width=device-width,initial-scale=1', name='viewport')
    body
        block content

