body {
    font: 14px Georgia, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.top {
    background-color: #f4f4f4;
    padding: 30px;
}

.logo {
    padding-bottom: 20px !important;
}

.realtime {
    text-transform: uppercase;
    font-size: 16px;

}

.count {
    color: #874bd8;
    font-size: 72px;
}

.bottom {
    padding: 10px;
    background: mediumpurple; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#cd73fa, #874bd8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cd73fa, #874bd8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cd73fa, #874bd8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cd73fa, #874bd8); /* Standard syntax */
}

.text {
    color: white;
}

.card {
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
    border: white;
    border-radius: 5px;
    background: white;
}

.logo {

}

.realtime {

}
ul {
    list-style-type: none;
}